
div{
    padding: 30px;
    display: flex;
    background: linear-gradient(rgb(254, 102, 125), rgb(255, 163, 117));
    align-items: center;
   
    

    h1 {
        color: rgb(255, 254, 254);
        font-size: 65px;
        font-weight: 900;
        line-height: 90px;
        margin-left: 20px;
      
      }
}

