
div{
    //background-image: url("/assets/drinksBG3.jpg");
    padding: 30px;
    display: flex;
    background: linear-gradient(rgb(254, 102, 125), rgb(255, 163, 117));
   
    

    h1 {
        color: rgb(255, 254, 254);
        font-size: 65px;
        font-weight: 900;
        margin-left: 20px;
      }
}

