<div *ngIf="drink" class="drinks">
  <div class="drink-container">

    <h4>{{ drink.strDrink }}</h4>
    <p class="category" ngIf="drink.ownCreation !=='true'">{{drink.strCategory}}</p>

    <div class="container-img">
    <img
      src="{{ drink.strDrinkThumb ? drink.strDrinkThumb : basicImage }}"
      alt="{{ drink.strDrink }}"
    />
  </div>

    
    <p class="type">{{ drink.strAlcoholic }}</p>

    <div *ngIf="drink.ownCreation !=='true'">
    <a [routerLink]="['../details', drink.strDrink]" class="primary-btn"
      >See the recipe</a
    >
    </div>
    <div
      class="container-btn"
      *ngIf="drink.ownCreation != null && drink.ownCreation === 'true'"
    >
      <button (click)="deleteDrink(drink)" class="primary-btn">Delete</button>
      <a [routerLink]="['../edit-drink', drink.id]" class="primary-btn">Edit</a>
      
    </div>
  </div>
</div>
