
.drinks{
    display: flex;
    max-width: 600px;
    margin-bottom:20px ;

    .details{
        padding: 5px 10px;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }
}
.drink-container{
  
    border-radius: 5px;
    width: 200px;
    height: 350px;
    text-align: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;   
    .type{
        margin-bottom: 10px;
        
    }

    .description{
        text-align: justify;
    }
    

}
img{
    width: 200px;
    border-radius: 5px;
    margin: 0 auto;
    display: block;
}
h4{
    margin: 10px 0 ;
  
    font-weight: 800;
  
}
a{
    text-decoration: none;
    padding: 10px;
    
    
}

