<div class="container">

  <div  class="finder box"> 
 
  <button class="finder ">
    <a [routerLink]="['/list']">
      Drink Finder
      <img class="img-logo" src="/assets/finder.jpg" alt="finder" />
    </a>
      </button>
      <p>Simply type the name of the desired drink in the
        search bar, and within seconds, you'll have access to a list of matching
        options.</p>
 

</div>

<div class="creation box">
<button class="creation">
    <a [routerLink]="['/new-drink']">
      Create our own drink
      <img  class="img-logo" src="/assets/drinks.jpg" alt="mix drinks" />

     </a>
    </button>

    <p>Unleash your imagination and experiment with
      different combinations of ingredients to invent a one-of-a-kind beverage that
      pleases your palate</p>
</div>



</div>
