.container{
  display: flex;
  gap:20px;
  justify-content: center;
}

.img-logo {
  width: 100px;
  
  margin: 0 auto;
}

a {
  text-decoration: none;
  transition: all ease-in-out;
  color: white;
}



  p {
    padding: 5px;
       color: white;
    
   
    
  }


.logo{
  width: 80%;
}


.finder{
  background-color: #a4579f;
 
  

  }

.box{

  display: flex;
  flex-direction: column;
 justify-content: center;
 align-items: center;
 width: 200px;
 text-align: center;
 height: 350px;
 box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 border-radius: 5px;
}
  .creation {
    background-color: #99c7a2;
   
 
  }
button {
  width: 150px;
  border-radius: 5px;
  color: white;
  border: none;
 
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  

 
}
