<div class="container">
  <div  class="container-btn"> 
  <button class="finder">
    <a [routerLink]="['/list']">
      Drink Finder
      <img src="/assets/finder.jpg" alt="finder" />
    </a>

  </button>
  <p>Simply type the name of the desired drink in the
    search bar, and within seconds, you'll have access to a list of matching
    options.</p>

</div>

<div class="container-btn">
<button class="creation">
    <a [routerLink]="['/new-drink']">
      Create our own drink
      <img src="/assets/drinks.jpg" alt="mix drinks" />

     </a>
    </button>

    <p>Unleash your imagination and experiment with
      different combinations of ingredients to invent a one-of-a-kind beverage that
      pleases your palate</p>
</div>
</div>
