<form
[formGroup]="form"
>
    <label class="name">Drink name:</label>
    <input type="text" formControlName="name">
    <h4>Ingredients</h4>
    <label class="name" for="">Ingredients</label>
    <input type="text" name="" id="" class="ingredients">
    <input type="text" name="" id="" class="ingredients">
    <input type="text" name="" id="" class="ingredients">
    <input type="text" name="" id="" class="ingredients">
    <input type="text" name="" id="" class="ingredients">
    <h4>Alcoholic</h4>
    <div class="checkbox-container"> 
    <label for="" class="checkbox">Si</label>
    <input type="checkbox" name="" id="" class="checkbox-input">
    <label for="" class="checkbox">No</label>
    <input type="checkbox" name="" id="" class="checkbox-input">
</div>
   

</form>
