.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  // background-image: url("/assets/drinksBG2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  height: 100%;
  width: 100%;
  background-position: center;


form {
  align-items: flex-end;
  background-color: #ecf8f9;
  padding: 50px;
  width: 550px;
  margin-right: 40px;
  border: 2px solid blue;
 

  .form-btn {
    margin-top: 20px;
  }


  .label {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;


    
  }
  
  
  .ingredients {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

  }
  .checkbox-container {
    border: 1px solid grey;
    max-width: 185px;
    padding: 10px;
    border-radius: 2px;
  
    .checkbox {
      margin-left: 10px;
    }
  
    .checkbox-input {
      margin-left: 5px;
    }
  }
  
  h4 {
    margin-top: 10px;
  }

  .error{
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
  

}

.text {
  max-width: 600px;
  flex-grow: 2;

  margin-right: 40px;
  display: block;
  margin: 0 auto;

  h2 {
    // color: rgb(255, 254, 254);
    font-size: 65px;
    font-weight: 900;
  }
}
}
