div{
   padding: 30px;
  display: flex;
  //background: linear-gradient(rgb(254, 102, 125), rgb(255, 163, 117));
  gap: 20px;
  justify-content: center;

  background-image: url("../../../assets/Bg.webp");
  background-size: cover;

 
}