<div *ngIf="drinks">
   <div *ngFor="let drink of drinks" class="drinks">
      <div class="drink-container"> 
         <!-- <img [src]="drink.strDrinkThumb" alt="{{drink.strDrink}}">  -->
         <h4>{{drink.strDrink}}</h4>
         <p class="type">{{drink.strAlcoholic ? "Alcoholic" : "Non alcoholic"}}</p>       
       </div>
   
       <div class="details">
    <h4>Ingredients:</h4>
      <ul>
         <li>{{drink.strIngredient1}}</li>
         <li>{{drink.strIngredient2}}</li>
         <li *ngIf="drink.strIngredient3">{{drink.strIngredient3}}</li>
         <li *ngIf="drink.strIngredient4">{{drink.strIngredient4}}</li>
         <li *ngIf="drink.strIngredient5">{{drink.strIngredient5}}</li>
         <li *ngIf="drink.strIngredient6">{{drink.strIngredient6}}</li>
      </ul>
      <h4>Instructions</h4>
      <p>{{drink.strInstructions}}</p>
   
   </div>
   </div>

</div>

