

.navbar-custom {
    background-color:#EB5E28;
    color:white;
   
}

.container-fluid> .navbar-brand{
  font-size: 35px;
  margin-right: 20px;
}

.navbar-nav  >a{
    color: white;
    text-decoration: underline;
    padding-bottom: 5px;

  }

  .container-fluid >a {
    color: white;
    font-weight: 700;
}
  