div{
    background: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
}
input{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 10px;
}

.drinks{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    flex-direction: row;
    justify-content: center;
    
}


