div{
    background-color: rgba(231, 224, 216, 0.381);
}
input{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 10px;
}

.drinks{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    flex-direction: row;
    justify-content: center;
    
}


