.header{
    width: 100%;
 background: radial-gradient(circle at 0.2% 1.8%, rgb(255, 90, 8) 0%, rgb(88, 0, 0) 100.2%);
    padding:10px;
    margin-bottom: 20px;
    

}
h1{
    text-align: center;
    color: #ECF8F9;
    font-weight: 700;

}
